<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="/stylehome.css" />
    
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Press+Start+2P&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&display=swap" rel="stylesheet">  -->
  </head>
  <body>
    
      <h1 class="heading" style="font-family: 'Lobster', sans-serif;";>ConFess or ConQuer</h1>
    
    
    <div class="content">
      <!-- <h2>Explore New World and Conquer Challenges!</h2> -->
      <p>Just register yourself and dive into the game</p>
    </div>
    <div>
    <a href="/register" class="register"> Register</a>
    <a href="/login" class="login">Login</a>
    </div>
  </body>
</html>
