<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Button</title>

    <link rel="stylesheet" type="text/css" href="/stylelogin2.css">
</head>
<body>
    <!-- <div class="background-image"></div> -->
    <button id="Start"><h1>Start Game</h1></button>
    <script>
        // Add a click event listener to the button
        document.getElementById('Start').addEventListener('click', function() {
            // Navigate to the "game1.ejs" page
            window.location.href = '/game'; // Replace with the actual path
        });
    </script>

    
</body>
</html>